<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305707603661-5trh1eupfialqbupidlh9kn8rru29os7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305707603661-5trh1eupfialqbupidlh9kn8rru29os7</string>
	<key>API_KEY</key>
	<string>AIzaSyCcbZ391vfKp7PzY0cg2PC20rzPVcvydcU</string>
	<key>GCM_SENDER_ID</key>
	<string>305707603661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maantheme.salesproAdmin</string>
	<key>PROJECT_ID</key>
	<string>hindiflix-dcdf1</string>
	<key>STORAGE_BUCKET</key>
	<string>hindiflix-dcdf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305707603661:ios:7371fddfbcdb7051f2bb84</string>
	<key>DATABASE_URL</key>
	<string>https://hindiflix-dcdf1.firebaseio.com</string>
</dict>
</plist>